:root {
  --text: #583c33;
  --background: #f8edd3;
  --primary: #283a53;
  --secondary: #61778f;
  --accent: #aba073;
  --accent-light: #bcb38f;
  --accent-dark: #5e5636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f1dba7;
    --background: #2c2107;
    --primary: #acbed7;
    --secondary: #70869e;
    --accent: #8c8154;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--font-yeseva), serif;
}

h2 {
  font-size: 20px;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-josefin), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
