.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
}

.audioButton {
  border: none;
  background-color: transparent;
}

.list {
  width: 100%;
  max-width: 750px;
  margin: 24px 24px 0;
}

.list > * {
  margin-bottom: 40px;
}
