.overview {
  display: grid;
  grid-gap: 0px;
  border: 1px solid var(--background);
  box-shadow: 8px 8px var(--accent-dark);
  background-color: var(--accent-light);
  gap: 0px 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'header header'
    'image info';
}

.name {
  padding: 8px;
  color: var(--background);
}

.nameWrapper {
  background-color: var(--accent);
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--background);
}

.nameWrapper > svg {
  margin: 8px 8px 8px 0;
}

.imgWrapper {
  grid-area: image;
  max-height: 250px;
  aspect-ratio: 2/3;
  width: 100%;
  position: relative;
}

.img {
  object-fit: cover;
  border-right: 1px solid var(--background);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 8px;
  grid-area: info;
  text-align: left;
  color: var(--background);
}

.infoItem {
  display: flex;
  gap: 4px;
  align-items: center;
}
